/* Centrage des images dans les pilules */
.pill {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pill img {
    max-height: 70%;
    max-width: 80%;
    object-fit: contain;
}
