/* Force le centrage absolu sur l'écran */
#floating-card { 
    position: fixed; 
    top: 50% !important; 
    left: 50% !important; 
    width: 80vw; 
    /* Le secret est ici : on déplace de -50% pour que le CENTRE de l'image soit à 50% de l'écran */
    transform: translate(-50%, -50%) scale(0); 
    z-index: 4000; 
    display: none; 
    transform-origin: center center !important;
}

#full-detail { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background: white; 
    z-index: 5000; 
    display: none;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    transform-origin: center center !important; /* Pour que le rideau s'ouvre du milieu */
}

/* Ton animation Animista corrigée pour le milieu */
@keyframes scale-in-ver-center {
    0% { 
        transform: scaleY(0); 
        opacity: 0; 
    }
    100% { 
        transform: scaleY(1); 
        opacity: 1; 
    }
}
